/* FLEX HELPERS */

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.a-center {
  align-items: center;
}

.a-baseline {
  align-items: baseline;
}

.space-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-start {
  align-items: flex-start;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-start {
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f563;
  border-radius: 5px;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  border-radius: 5px;

  background-color: #f5f5f559;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
