/* FLEX HELPERS */

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.a-center {
  align-items: center;
}

.a-baseline {
  align-items: baseline;
}

.space-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.a-start {
  align-items: flex-start;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-start {
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}
